<div class="pull-right">
	<ul class="nav pull-right">
		<div class="pull-right">
			<ul class="nav pull-right">
				<li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Welcome {{user.name}} <b class="caret"></b></a>
					<ul class="dropdown-menu">
						<li><a class="fade-reflect" href="#/user/preferences"><i class="icon-cog"></i> Preferences</a></li>
						<li><a class="fade-reflect" href="#/help/support"><i class="icon-envelope"></i> Contact Support</a></li>
						<li class="divider"></li>
						<li><a class="fade-reflect" ng-click="submitLogout()"><i class="icon-off"></i> Logout</a></li>
					</ul>
				</li>
			</ul>
		</div>
	</ul>
</div>