<div class="fade ng-valid modal hide ng-dirty" ui-modal ng-model="signupModal">
	<div class="modal-header"><h1>Sign Up</h1></div>
	<div class="modal-body">
		<form class="validator" name="signupForm">
			<div class="row-fluid">
				<div class="span6">
					<h5>Name</h5>
					<input class="span" ng-model="formSignUp.name" required type="text" placeholder="Name"/>
					<h5>E-Mail</h5>
					<input class="span" ng-model="formSignUp.email" required type="email" placeholder="E-mail"/>
					<h5>Password</h5>
					<input class="span" ng-model="formSignUp.password" required type="password"/>
					<h5>Confirm Password</h5>
					<input class="span" ng-model="formSignUp.passwordConfirm" required type="password"/>
				</div>
				<div class="span6">
					<h5>State</h5>
					<input class="span" ng-model="formSignUp.state" required type="text" placeholder="State"/>
					<h5>Zip</h5>
					<input class="span" ng-model="formSignUp.zip" required type="text" placeholder="Zip"/>
					<h5>City</h5>
					<input class="span" ng-model="formSignUp.city" required type="text" placeholder="City"/>
				</div>
			</div>
		</form>
	</div>
	<div class="modal-footer">
		<a class="btn pull-left" ng-click="resetSignUp()">Reset Fields</a>
		<a class="btn btn-success" ng-disabled="signupForm.$invalid" ng-click="submitSignUp()">Submit</a>
		<a class="btn btn-danger" ng-click="cancelSignUp()">Cancel</a>
	</div>
</div>